HTML {height:1px; min-height:100%;}
HTML,BODY {height:100%;}
BODY {position:relative; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; font-size:100%; line-height:1em; background-image:url("/image/ecatfon.gif");}

H1 {font:bold 22px 'Times New Roman',Times;}
H2 {font:bold 20px 'Times New Roman',Times;}
H3 {font:bold 18px 'Times New Roman',Times;}

A, A:visited {color:#000096;}
A:hover, A:visited:hover {color:#C80000; text-decoration:underline;}

.imgprn {margin-bottom:-1px; border:none;}
.imgpdf {margin-bottom:-2px; border:none;}

.tab0, .tab1, .tab2 {-webkit-transition:300ms; transition:300ms; -webkit-transform-origin:0 0; -o-transform-origin:0 0; -ms-transform-origin:0 0; -moz-transform-origin:0 0;transform-origin:0 0;}

.tab0 {position:fixed; display:block; z-index:4; top:0px; left:0px; width:1280px; height:120px; background:#A8B1C6; background-color:rgba(168,177,198,0.9);}
.tab0tt1 {position:absolute; display:block; top:0px; left:0px; width:240px; height:120px; line-height:120px;}
.tab0tt2 {position:absolute; display:block; top:0px; left:240px; width:1040px; height:116px; line-height:116px; text-align:left;}
.tab0tt2 DIV {posirion:relative; display:inline-block; vertical-align:bottom;}
.tab0line {position:absolute; display:block; top:120px; left:240px; width:800px; border-bottom:1px solid #646464;}

#ancor1,#ancor2 {position:relative; display:block; height:1px; margin-top:10px;}
.adbl1, .adbl2 {position:absolute; display:block; width:236px; min-height:300px; text-align:center; overflow:hidden;}
.adbl2 {margin-left:2px;}
.adbl1 {margin-right:2px;}

.tab2 {position:fixed; width:1280px; border:none; z-index:1; table-layout:fixed; top:0px; left:0px; height:6000px;}
.tab2t {position:relative; height:119px;}
.tab2l {position:relative; width:240px; height:100%; background:#A8B1C6; background-color:rgba(168,177,198,0.9); border-right:1px solid #646464;}
.tab2c {position:relative; width:800px; height:100%; background:#FFFFFF; background-color:rgba(255,255,255,0.9);}
.tab2r {position:relative; width:240px; height:100%; background:#A8B1C6; background-color:rgba(168,177,198,0.9); border-left:1px solid #646464;}


.tab1 {position:absolute; width:1280px; border:none; z-index:2; table-layout:fixed; top:0px; left:0px; min-height:200%;}
.tab1t {position:relative; height:120px;}

.tab1l {position:relative; width:240px; min-height:100%;}
.tab1lt {position:relative; display:block; top:0px; left:0px; width:240px; min-height:100%; padding-top:10px;}

.tab1c {position:relative; width:800px; height:100%; vertical-align:top;}
.ecatbody {position:relative; display:block; top:0px; left:0px; width:776px; min-height:100%; padding:10px 12px 60px 12px; text-align:center; vertical-align:top;}
.licounter {position:relative; display:block; bottom:0px; right:0px; padding:4px 10px 4px 0px; text-align:right;}

.tab1r {position:relative; width:240px; min-height:100%;}

.ecatform {position:relative; display:inline-block; left:4px; margin-bottom:2px; width:232px; table-layout:fixed; white-space:nowrap; font:bold 14px 'Times New Roman',Times !important; line-height:15px; text-align:center; vertical-align:bottom;}
.ecatform A,.ecatform A:visited {text-decoration:none; color:#000096;}
.ecatform A:hover,.ecatform A:visited:hover {color:#C80000; text-decoration:underline;}
.ecatform .curr {text-decoration:underline; color:#C80000;}
.ecatform .curr:visited {color:#C80000;}


.ecatform TD {padding:1px 0px 0px 0px;}
.ecatform .itext {width:166px; font:bold 12px 'Times New Roman',Times;}
.ecatform .ibutton {width:60px; margin-left:2px; font:bold 12px 'Times New Roman',Times;}
.ecatform SELECT {width:232px; font-size:13px; font:regular 13px 'Times New Roman',Times;}


.ecattext TABLE {display:block; overflow-x:auto !important; overflow-y:visible !important; max-width:100% !important; width:auto !important;}
.ecattext TABLE TD {width:auto !important;}
.ecattext IMG {height:auto; max-width:100% !important;}

.ecattext P, .ecattext TABLE, .ecattext TR, .ecattext TD, .ecattext SPAN, .ecattext DIV, .ecattext H1, .ecattext H2, .ecattext H3, .ecattext H4, .ecattext B {background-color:transparent !important;}
.ecattext A, .ecattext SPAN, .ecattext P {background-color:transparent !important; text-decoration:none !important;}
.ecattext A {text-decoration:none !important; color:#000096;}
.ecattext A[name] {color:black; text-decoration:none !important;}
.ecattext IMG {border:1px solid #0000C8}

.dr008 {font:normal 10px 'Times New Roman',Times !important; color:#969696 !important; text-decoration:none !important; cursor:default !important; letter-spacing:-0.5pt !important;}

.ecatmenu {position:relative; display:block; font:normal 15px 'Times New Roman',Times; text-align:left; margin:0px 2px 0px 2px; overflow:hidden;}
.ecatmenu .li0 {position:relative; display:block; margin:0px 0px 0px 0px; padding:0px 0px 0px 12px; background:url('/image/li0.png') no-repeat 5px 1px}
.ecatmenu .li1 {position:relative; display:block; margin:0px 0px 0px 0px; padding:0px 0px 0px 12px; background:url('/image/li1.png') no-repeat 5px 1px}
.ecatmenu .li2 {position:relative; display:block; margin:0px 0px 0px 0px; padding:0px 0px 0px 12px; background:url('/image/li2.png') no-repeat 5px 1px}
.ecatmenu .li2 .ttl1 {position:absolute; display:block; top:15px; left:-8px; height:60%; border-left:1px solid #000000;}
.ecatmenu .li2 .ttl2 {position:absolute; display:block; bottom:-9px; left:-8px; height:60%; border-left:1px solid #000000;}
.ecatmenu .li2 .sub {position:absolute; display:block; top:-4px; left:0px; height:13px; border-left:1px solid #000000}
.ecatmenu .li2 .li0, .ecatmenu .li2 .li1, .ecatmenu .li2 .li2 {position:relative; border-left:1px solid #000000; cursor:pointer;}
.ecatmenu .li2 .li0 {background:url('/image/li20.png') no-repeat 0px 1px}
.ecatmenu .li2 .li0:hover {background:url('/image/li20h.png') no-repeat 0px 1px}
.ecatmenu .li2 .li1 {background:url('/image/li21.png') no-repeat 0px 1px}
.ecatmenu .li2 .li1:hover {background:url('/image/li21h.png') no-repeat 0px 1px}
.ecatmenu .li2 .li2 {background:url('/image/li22.png') no-repeat 0px 1px}
.ecatmenu .li2 .last {border-left:none}

.ecatmenu A {position:relative; display:block; font:normal 15px 'Times New Roman',Times; text-decoration:none; margin:0px 0px 0px 8px; color:#000096;}
.ecatmenu A:hover,.ecatmenu A:visited:hover {color:#C80000; text-decoration:underline;}
.ecatmenu A:visited {color:#000096}

.ecatmenu .leftmenu {position:relative; display:block; margin:6px 8px 0px 8px; text-align:center;}
.ecatmenu .leftmenu .lm1 {position:relative; display:block; width:100%; margin:2px 0px 0px 0px; padding:2px 0px 2px 0px; text-decoration:none; background-color:#D8E6FD; border-top:1px solid #646496; border-bottom:1px solid #646496; color:#000000; font:bold 14px 'Times New Roman',Times;}
.ecatmenu .leftmenu .lm1:hover {background-color:#CBC2C1; color:#000000;}
.ecatmenu .leftmenu .lm2 {position:relative; display:block; width:100%; margin:1px 0px 0px 0px; background: url(/image/arrow1.gif) no-repeat 2px 4px; padding:0px 0px 0px 12px; text-decoration:none; text-align:left; font:bold 14px 'Times New Roman',Times; color:#000096;}
.ecatmenu .leftmenu .lm2:hover {text-decoration:underline; color:#C80000;}
.ecatmenu .leftmenu .lm2:visited {color:#000096;}
.ecatmenu .leftmenu .lm2:visited:hover {color:#C80000;}


.ecatbody A IMG {border:none;}

.ecatbody .img1 {display:block; border:1px solid #969696; margin:2px 0px 2px 0px}
.ecatbody .img2 {display:block; border:1px solid #969696; margin:2px 0px 2px 0px; max-width:95%;}

.ecatbody A,.ecatbody A:visited {text-decoration:none; color:#000096}
.ecatbody A:hover,.ecatbody A:visited:hover {text-decoration:underline; color:#C80000}

.ecatbody .htxt {font-weight:bold; color:#C80000}

.ecatbody .doctab1 {table-layout:fixed; font:normal 16px 'Times New Roman',Times; width:98%; border-right:1px solid #646464; border-bottom:1px solid #646464; margin-top:8px}
.ecatbody .doctab1 .m1 td {font:bold 18px 'Times New Roman',Times; text-align:center; background:#D8E6FD; background-color:rgba(157,192,250,0.4); border-top:1px solid #646464; border-left:1px solid #646464}
.ecatbody .doctab1 .m2 td {font:bold 16px 'Times New Roman',Times; background:#E0E0F0; background-color:rgba(216,230,253,0.4); padding:1px 2px 1px 6px; border-top:1px solid #646464; border-left:1px solid #646464}
.ecatbody .doctab1 A {text-decoration:none;}
.ecatbody .doctab1 A:hover {text-decoration:underline;}
.ecatbody .doctab1 .a1 {padding:0px 0px 0px 0px; background:none;}
.ecatbody .doctab1 .a1 IMG {border:none; margin:0px 4px -2px 0px;}
.ecatbody .doctab1 .a2 {display:block; float:left; padding:0px 0px 0px 0px; background:none;}
.ecatbody .doctab1 .a2 IMG {border:none; margin:0px 0px -2px 0px; padding:0px 0px 0px 0px;}

.ecatbody .doctab1 .m3 td {padding:3px 8px 5px 4px; border-top:1px solid #646464; border-left:1px solid #646464}
.ecatbody .doctab1 .m4 td {font:bold 16px 'Times New Roman',Times; background:#E0E0F0; background-color:rgba(216,230,253,0.4); padding:1px 2px 1px 2px; border-top:1px solid #646464; border-left:1px solid #646464}
.ecatbody .doctab1 .m4 td A {margin:0px 2px 0px 2px}

.ecatbody .doctab2 {font:normal 16px 'Times New Roman',Times; border-bottom:1px solid #6464C8; margin:12px 0px 12px 0px}
.ecatbody .doctab2 td {border-top:1px solid #6464C8; padding:2px 3px 2px 3px}
.ecatbody .doctab2 A {text-decoration:none;}
.ecatbody .doctab2 A:hover {text-decoration:underline;}

.ecatbody .doctab3 {font:normal 16px 'Times New Roman',Times; border-bottom:1px solid #6464C8; margin-top:8px}
.ecatbody .doctab3 .m1 tr {border-right:1px solid #6464C8}
.ecatbody .doctab3 .m1 td {font:bold 18px 'Times New Roman',Times; text-align:center; background:#A8B1C6; background-color:rgba(78,98,138,0.4); border-top:1px solid #6464C8; border-left:1px solid #6464C8; border-right:1px solid #6464C8}
.ecatbody .doctab3 .m2 td {font:bold 16px 'Times New Roman',Times; padding:1px 2px 1px 6px; border-top:1px solid #6464C8;}

.ecatbody .p1 {display:block; text-indent:30px; margin-top: 5px; text-align:justify;}

.ecatbody .ul2 {position:relative; list-style:none; list-style-position:outside; margin:0px 0px 0px 40px; padding:0px 0px 0px 0px;}
.ecatbody .ul2 li {background: url(/image/arrow2.gif) no-repeat 2px 8px; margin:0px 0px 0px 0px; padding:3px 0px 3px 0px; text-align:left;}
.ecatbody .ul2 li {text-indent:12px}

.pagebox {position:relative; display:block; width:98%; margin:4px 0px 4px 0px; padding:4px 6px 4px 6px; font:bold 12px Tahoma,Geneva,serif; text-align:center; background:#A8B1C6; background:linear-gradient(90deg,rgba(157,192,250,0),rgba(157,192,250,0.4) 20%,rgba(157,192,250,0.4) 80%,rgba(157,192,250,0)); border-top:1px solid #646496; border-bottom:1px solid #646496;}
.pagebox A {text-decoration:none; margin:0px 1px 0px 1px;}
.pagebox A:hover {text-decoration:underline;}

.stat11,.stat12 {color:#000000;}
.stat21,.stat22 {color:#960000;}
.stat31,.stat32 {color:#000096;}
.stat11,.stat21,.stat31 {font-size:16px; font-weight:bold;}
.stat12,.stat22,.stat32 {font-size:14px; font-weight:bold;}

@media print {
.ecatbody .img2 {border:none; page-break-before:always; margin:2px 0px 2px 0px; width:100%; max-width:100%;}
}